<%- include header %>
<link rel="stylesheet" href="../../../stylesheets/style.css">
<p class="info">
  author：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
  date：<%= post.time.minute %>
 </p>
 <p><%- post.post %></p>
<%- include footer %>
