<%- include header %>
<link rel="stylesheet" href="../../../stylesheets/style.css">
<% posts.forEach(function(post, index){ %>
  <p>
    <h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2>
    <a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head" /></a>
  </p>
  <p class="info">
    author：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
    date：<%= post.time.minute %>
    tags：
    <% post.tags.forEach(function(tag, index){ %>
      <% if(tag.tag){ %>
        <a class="tag" href="/tags/<%= tag.tag %>"><%= tag.tag %></a>
      <% } %>
    <% }) %>
  </p>
  <p><%- post.post %></p>
  <p class="info">read：<%= post.pv %> | comment：<%= post.comments.length %></p>
<% }) %>
<%- include paging %>
<%- include footer %>