<%- include header %>
<link rel="stylesheet" href="../../../stylesheets/style.css">
<% posts.forEach(function(post, index){ %>
  <p><h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2></p>
  <p class="info">
    author：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
    date：<%= post.time.minute %>
  </p>
  <p><%- post.post %></p>
<% }) %>
<%- include paging %>
<%- include footer %>